:root{
  --lightBlue:#2a2a72;
  --mainBlue:red;
  --mainWhite:rgb(27, 28, 28);
  --mainYellow:yellow;
  --mainDark:black; 
}
body{
  font-family:"Oswald",sans-serif !important;
;
  color: var (--mainDark)  !important;
}

.navbar {
  width: 100%;
  background-color:var(--mainWhite);
  opacity: 0.9;
  overflow: auto;

}

.navbar a {
 
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.tired{float: right;}

.navbar a:hover {
  background-color: #000;
}

/* .active {
  background-color: rgb(38, 36, 36);
 
} */
.shopCart{
 float: right;
}
.product{
  font-size: large;

}
.flex-container > div {
  background-color: white;
  width: auto;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 25px;
  font-style:oblique;
  
}
.flex-container {
  display: flex;
}